.board-container {
    background-image: url('/assets/Board.svg');
    background-repeat: no-repeat;
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 0;
  }
  