.fixed-left-div {
  width: 68px;
  height: 100%;
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  background: url(https://d2g1zxtf4l76di.cloudfront.net/images/red-bg.jpg) 0% 0% / cover no-repeat;
  transition: all 0.6s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0; 
}

.navbar-button {
  background-color: #f8f9fa; 
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #007bff; 
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-button:hover {
  background-color: #e2e6ea; 
  color: #0056b3; 
}

.navbar-button span {
  margin-left: 8px; 
}
